<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test suite">

    <!-- This parameter will be passed to every test in this suite -->
    <parameter name="personalPage" value="https://juanfonsecasolis.github.io" />
    <test name="Page object model page factory">
        <!-- This parameter will be passed this class only -->
        <parameter name="userId" value="xxyn4pz8yhb0i7n"/>
        <parameter name="searchTermEscEsh" value="optimal"/>
        <classes>
            <!--class name="PageObjectModelPageFactory.Tests.MainPageTest"/-->
        </classes>
    </test>

    <test name="Behavior driven development">
        <!-- This parameter will be passed this class only -->
        <classes>
            <class name="BehaviorDrivenDevelopment.Runner"/>
        </classes>
    </test>
</suite>